{% extends "find_bananas/base.html" %}
{% load static %}
{% block content %}
    <div class="play-section">
        <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-primary btn-lg" name="play">Play !</button>
    </div>


    <!-- Collapsed content -->
    <div id="demo" class="collapse">
        <div class="content-section">
            <div id="round1" style="display:block;">
                <button onClick="showImage1()" type="button" class="btn btn-primary btn-lg">Round 1</button>
            </div>
            <div id="round2" style="display:none;">
                <button onClick="showImage2()" type="button" class="btn btn-primary btn-lg">Round 2</button>
            </div>
            <div id="round3" style="display:none;">
                <button onClick="showImage3()" type="button" class="btn btn-primary btn-lg">Round 3</button>
            </div>
            <div id="image1" style="display:none;" class="pti-marg">
                <img style="height: 100%; width: 100%; object-fit: contain" src="{% static 'images/bananas_of_the_day_round1.png' %}"/>
            </div>
            <div id="image2" style="display:none;" class="pti-marg">
                <img style="height: 100%; width: 100%; object-fit: contain" src="{% static 'images/bananas_of_the_day_round2.png' %}"/>
            </div>
            <div id="image3" style="display:none;" class="pti-marg">
                <img style="height: 100%; width: 100%; object-fit: contain" src="{% static 'images/bananas_of_the_day_round3.png' %}"/>
            </div>
            <div id="input1" style="display:none;">
                <form onsubmit="return false" method="get" id="form1" class="form-inline">
                  <div class="form-group mb-2">
                    <label class="sr-only">Combien de bananes ?</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Combien de bananes ?">
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <input type="number" id="guess_number1" placeholder="20-50">
                  </div>
                  <button onClick="validRound1({{dico.round1.number}})" type="submit" class="btn btn-primary mb-2">Valider</button>
                </form>
            </div>
            <div id="input2" style="display:none;">
                <form onsubmit="return false" method="get" id="form2" class="form-inline">
                  <div class="form-group mb-2">
                    <label class="sr-only">Combien de bananes ?</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Combien de bananes ?">
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <input type="number" id="guess_number2" placeholder="50-100">
                  </div>
                  <button onClick="validRound2({{dico.round2.number}})" type="submit" class="btn btn-primary mb-2">Valider</button>
                </form>
            </div>
            <div id="input3" style="display:none;">
                <form onsubmit="return false" method="get" id="form3" class="form-inline">
                  <div class="form-group mb-2">
                    <label class="sr-only">Combien de bananes ?</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Combien de bananes ?">
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <input type="number" id="guess_number3" placeholder="100-200">
                  </div>
                  <button onClick="validRound3({{dico.round1.number}}, {{dico.round2.number}}, {{dico.round3.number}})" type="submit" class="btn btn-primary mb-2">Valider</button>
                </form>
            </div>
            <div id="result1" style="display:none;">
                <p id="text-result1"></p>
                <p id="text-banana1"></p>
            </div>
            <div id="result2" style="display:none;">
                <p id="text-result2"></p>
                <p id="text-banana2"></p>
            </div>
            <div id="result3" style="display:none;">
                <p id="text-result3"></p>
                <p id="text-banana3"></p>
            </div>
            <div id="congrats" style="display:none;">
                <p id="score"></p>
            </div>
            <div id="share" style="display:none;">
                <button onClick="copyText({{dico.round1.number}}, {{dico.round2.number}}, {{dico.round3.number}})" type="submit" class="btn btn-primary mb-2">Partager</button>
            </div>
        </div>
    </div>
    <script>
        const showImage1 = () => {
            document.getElementById("image1").style.display ='block';
            setTimeout(() => {  document.getElementById("image1").style.display ='none'; 
                                document.getElementById("round1").style.display ='none';
                                document.getElementById("input1").style.display ='block';}, 5000);
        }
        const showImage2 = () => {
            document.getElementById("result1").style.display ='none';
            document.getElementById("image2").style.display ='block';
            setTimeout(() => {  document.getElementById("image2").style.display ='none'; 
                                document.getElementById("round2").style.display ='none';
                                document.getElementById("input2").style.display ='block';}, 5000);
        }
        const showImage3 = () => {
            document.getElementById("result2").style.display ='none';
            document.getElementById("image3").style.display ='block';
            setTimeout(() => {  document.getElementById("image3").style.display ='none'; 
                                document.getElementById("round3").style.display ='none';
                                document.getElementById("input3").style.display ='block';}, 5000);
        }
        const validRound1 = (nbBanana) => {
            document.getElementById("round2").style.display ='block';
            document.getElementById("input1").style.display ='none';
            document.getElementById("result1").style.display ='block';
            let guess = document.getElementById('guess_number1');
            resultat = "Différence de bananes : " + (parseInt(guess.value) - parseInt(nbBanana)).toString();
            good_number = "Le juste nombre : " + nbBanana
            document.getElementById('text-result1').textContent = resultat;
            document.getElementById('text-banana1').textContent = good_number;
        }
        const validRound2 = (nbBanana) => {
            document.getElementById("round3").style.display ='block';
            document.getElementById("input2").style.display ='none';
            document.getElementById("result2").style.display ='block';
            let guess = document.getElementById('guess_number2');
            resultat = "Différence de bananes : " + (parseInt(guess.value) - parseInt(nbBanana)).toString();
            good_number = "Le juste nombre : " + nbBanana
            document.getElementById('text-result2').textContent = resultat;
            document.getElementById('text-banana2').textContent = good_number;
        }
        const validRound3 = (nbBanana1, nbBanana2, nbBanana3) => {
            document.getElementById("congrats").style.display ='block';
            document.getElementById("result3").style.display ='block';
            document.getElementById("share").style.display ='block';
            let guess1 = document.getElementById('guess_number1');
            let guess2 = document.getElementById('guess_number2');
            let guess3 = document.getElementById('guess_number3');
            resultat1 = Math.abs(parseInt(guess1.value) - parseInt(nbBanana1));
            resultat2 = Math.abs(parseInt(guess2.value) - parseInt(nbBanana2));
            resultat3 = Math.abs(parseInt(guess3.value) - parseInt(nbBanana3));
            score = resultat1 + resultat2 + resultat3;
            score_final = "Ton score final : " + score.toString() + " " + String.fromCodePoint( 127820 ) + String.fromCodePoint( 127820 ) + String.fromCodePoint( 127820 );
            res3 = (parseInt(guess3.value) - parseInt(nbBanana3));
            resultat = "Différence de bananes : " + res3.toString();
            good_number = "Le juste nombre : " + nbBanana3 
            document.getElementById('text-result3').textContent = resultat;
            document.getElementById('text-banana3').textContent = good_number;
            document.getElementById('score').textContent = score_final;
        }
        const copyText = (nbBanana1, nbBanana2, nbBanana3) => {
            document.getElementById("congrats").style.display ='block';
            document.getElementById("result3").style.display ='block';
            let guess1 = document.getElementById('guess_number1');
            let guess2 = document.getElementById('guess_number2');
            let guess3 = document.getElementById('guess_number3');
            resultat1 = Math.abs(parseInt(guess1.value) - parseInt(nbBanana1));
            resultat2 = Math.abs(parseInt(guess2.value) - parseInt(nbBanana2));
            resultat3 = Math.abs(parseInt(guess3.value) - parseInt(nbBanana3));
            score = resultat1 + resultat2 + resultat3;
            const shareSentence = "FindBananas #1" 
                                + "\n\u2022 Round 1 : " + resultat1.toString() + " " + String.fromCodePoint( 127820 ) 
                                + "\n\u2022 Round 2 : " + resultat2.toString() + " "  + String.fromCodePoint( 127820 ) 
                                + "\n\u2022 Round 3 : " + resultat3.toString() + " "  + String.fromCodePoint( 127820 ) 
                                + "\nTotal : " + score.toString() + " "  + String.fromCodePoint( 127820 ) + String.fromCodePoint( 127820 ) + String.fromCodePoint( 127820 )
            navigator.clipboard
            .writeText(shareSentence)
            .then(() => {
                        alert("Copied !");
                      })
                      .catch(() => {
                        alert("something went wrong");
                      });

        }
    </script>
{% endblock content %}
